*
{
    margin: 0;
    padding: 0;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#header {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
  	color: azure;
}

#navmenu {
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px;
  }
  
  #navmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  #navmenu li {
	display: inline-block;
	background-color: #333;
	color: #fff;
	padding: 10px;
  }
  
  #navmenu a {
	color: #fff;
	text-decoration: none;
  }