<div class="pure-u-1">
  <div #rootdiv>
    <canvas #canvas id="canvas" style="height: 100%; width: 100%;"></canvas>
    <div id="navmenu">
      <ul>
        <li><a href="default.asp">Home</a></li>
        <li><a href="news.asp">About</a></li>
        <li><a href="contact.asp">Experience</a></li>
        <li><a href="about.asp">Projects</a></li>
        <li><a href="about.asp">Contact</a></li>
      </ul>
    </div>

    <h1 id="header">Uros Cvijanovic</h1>

    <div class="content-section" [ngSwitch]="selectedPage">
      <div *ngSwitchCase="'home'">
        <!-- landing page content -->
      </div>
      <div *ngSwitchCase="'about'">
        <div class="about-section">
          <div class="left-section">
            <!-- about me content -->
          </div>
          <div class="right-section">
            <!-- profile picture -->
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'experience'">
        <!-- experience page content -->
      </div>
      <div *ngSwitchCase="'projects'">
        <!-- projects page content -->
      </div>
      <div *ngSwitchCase="'contact'">
        <!-- contact page content -->
      </div>
    </div>
  </div>
</div>

